<h1>Log In</h1>

<% form_tag session_path do -%>
  <h3>The good old fashioned way</h3>
<p><label for="login">Email</label><br/>
<%= text_field_tag 'email', @email %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password', nil %></p>

<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>

<% form_tag create_with_open_id_session_path do %>
  <h3>Using OpenID</h3>
  <p><%= label_tag :openid_url, "Open ID URL" %><br/>
    <%= text_field_tag :openid_url %></p>
  <p><%= submit_tag "Login with OpenID" %></p>
<% end %>
